html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,0)));
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
  background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
  background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#00eeeeee',GradientType=0 );
}


#splash_header {
  font: 300 18px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
}
#room_entry {
  text-align: center;
  width: 100%;
  display: block;
}

#username_header {
  font: 300 18px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
}

#username_warning_header {
  font: 300 18px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
}


#howthisworks {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  font-size:12px;
}

#howthisworks_header {
  font: 300 18px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
}

#warning {
   margin-top: 5px;
}

#warning td {
   border: 1px solid black;
   vertical-align: top;
}

#colors {
   border-spacing: 0px;
}

#good {
   background-color: rgb(190, 231, 190);
}

#yellow {
   background-color: rgb(247, 247, 195);
}

#bad {
   background-color: rgb(240, 203, 203);
}

#filelist {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  position: absolute;
  height: 95%;
  width: 25%;
  right: 10px;
  top: 10px;
  z-index: 0;
}

#filelist_header {
  font: 300 16px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
}

#chatbox {
  position: absolute;
  left: 3%;
  width: 60%;
  height: 75%;
  bottom: 10px;
  z-index: 1;
}

#chatinput {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  border-radius: 0px 0px 5px 5px;
  font: 300 18px/40px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 40px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding: 5px 10px;
  width: 100%;
}

#messages {
  overflow: scroll;
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 0px 0px;
  font: 300 18px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 80%;
  margin-bottom: 0px;
  padding: 5px 10px;
  width: 100%;
}

.github {
  position: absolute;
  bottom: 0px;
  right: 2px;
}

.question {
  position: absolute;
  bottom: 4%;
  right: 18px;
}

.question a {
	color:rgb(20, 0, 255);
	text-decoration: none;
	font-size:18px;
}

.small {
    font-size: 12px;
    color: rgb(131, 131, 131);
}

.flip {
-webkit-transform: rotateY(180deg);
}

.buttonBox {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
}
.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:rgb(78, 78, 78);
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}
.button:active {
  position:relative;
  top:1px;
}
